.chart-wrapper {
  width: 100%;
  margin: 20px 0;
}

.chart-header {
  margin-bottom: 10px;
}

.chart-header h2 {
  margin: 0;
  color: #d1d4dc;
  font-size: 24px;
  font-weight: 600;
}

.chart-container {
  width: 100%;
  height: 600px;
}
